
@{
    Layout = null;
}

<!DOCTYPE html>

<html >
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>权限不足，无法访问</title>
    <script>
        //确保登录页面不作为框架页面显示，而是显示为独立的页面
        if (window.top != window.self) {
            window.top.location = "/Home/Error500";
        }
    </script>
    <style>
        body {
            background-color: #0094ff;
        }
    </style>
</head>
<body>
    <div style="width:20%;height:auto;margin-left:35%;text-align:center">
        <div style="font-size:16px;color:white;font-family:'Segoe UI Emoji';font-weight:bold;margin-left:10px;">
<pre class="page-404">
              .----.
       _.'__    `.
   .--($)($$)---/#\
 .' *          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    /权限不足!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
</pre>
            <br />
            <br />
            <a href="#" onclick="javacsript:location.href='/Home/Index'" style="color:white;">点击返回主页</a><br /><br /><br />
            或联系管理员：MethodName<br />
            Q Q ：785277010<br />
            手机：15974244021

        </div>
    </div>
</body>
</html>
