

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>进销存管理系统</title>

    <link href="~/Scripts/assets/css/amazeui.css" rel="stylesheet" />
    <script src="~/Scripts/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/assets/js/amazeui.js"></script>
    
    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        body {
            background-color: #00A3E8;
        }
    </style>
</head>


<frameset rows="70,*" frameborder="no" border="0" >
    <frame src="/Home/head" scrolling="No" noresize="noresize" allowfullscreen mozallowfullscreen webkitallowfullscreen></frame>
    <frameset id="frame1" cols="170,25,*,6" frameborder="no" border="0">
        <frame src="/Home/left" scrolling="No" noresize="noresize" ></frame>
        <frame src="/Home/Size" noresize="noresize" scrolling="No"></frame>
        <frame name="default" src="/Home/maindefault" noresize="noresize" ></frame>
    </frameset>
</frameset>




</html>
