
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetEmp</title>
    <link href="~/Scripts/assets/css/amazeui.css" rel="stylesheet" />
    <script src="~/Scripts/assets/js/jquery.min.js"></script>
    <script src="~/Scripts/assets/js/amazeui.js"></script>
    <script src="~/Scripts/js/modal.js"></script>
</head>
<body>
    <div> 
        <div style="margin-bottom:80px;">
            <a href="/Home/maindefault" class="am-icon-home">&nbsp;&nbsp;进销存&nbsp;<i class="am-icon-arrow-circle-right"></i>&nbsp;&nbsp;</a>
            <a href="/Foundation/Home/Index" class="am-icon-database">&nbsp;&nbsp;基础数据&nbsp;<i class="am-icon-arrow-circle-right"></i>&nbsp;&nbsp;</a>
            <span style="font-size:14px;font-weight:bolder;">员工设置</span>
        </div>
        
    </div>
</body>
</html>
